body {
  margin: 0;
  font-family: 'Noto Sans Ethiopic', sans-serif;
  font-family: 'Noto Serif Ethiopic', serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
